[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
yfinance = "*"
ta = "*"
seaborn = "*"
matplotlib = "*"
pandas-datareader = "*"
jinja2 = "*"
fredapi = "*"
openpyxl = "*"
xgboost = "*"
scikit-learn = "*"
statsmodels = "*"
mlflow = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
